<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access to this page has been denied.</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <style>
    html,body{
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
      color: #000;
    }

    a{
      color: #c5c5c5;
      text-decoration: none;
    }

    .container{
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
    }

    .container > div {
      width: 100%;
      display: flex;
      justify-content:center;
    }

    .container > div > div {
      display: flex;
      width: 80%;
    }

    .customer-logo-wrapper{
      padding-top: 2rem;
      flex-grow: 0;
      background-color: #fff;
      visibility: {{logoVisibility}};
    }

    .customer-logo{
      border-bottom: 1px solid #000;
    }

    .customer-logo > img{
      padding-bottom: 1rem;
      max-height: 50px;
      max-width: auto;
    }

    .page-title-wrapper{
      flex-grow: 2;
    }
    .page-title {
      flex-direction: column-reverse;
    }

    .content-wrapper{
      flex-grow: 5;
    }
    .content{
      flex-direction: column;
    }

    .page-footer-wrapper{
      align-items: center;
      flex-grow: 0.2;
      background-color: #000;
      color: #c5c5c5;
      font-size: 70%;
  }
  @media (min-width:768px){
    html,body{
      height: 100%;
    }
  }
  </style>
  <!-- Custom CSS -->
  {{# cssRef }}
    <link rel="stylesheet" type="text/css" href="{{cssRef}}" />
  {{/ cssRef }}
  </head>
  <body>
    <section class="container">
      <div class="customer-logo-wrapper">
        <div class="customer-logo">
          <img src="{{customLogo}}" alt="Logo"/>
        </div>
      </div>
      <div class="page-title-wrapper">
        <div class="page-title">
          <h1>Access to this page has been denied.</h1>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <p>
            You have been blocked because we believe you are using automation tools to browse the website.
          </p>
          <p>
            Please note that Javascript and Cookies must be enabled on your browser to access the website.
          </p>
          <p>
            If you think you have been blocked by mistake, please contact the website administrator with the reference ID below.
          </p>
          <p>
            Reference ID: #{{refId}}
          </p>
        </div>
      </div>
      <div class="page-footer-wrapper">
        <div class="page-footer">
          <p>
            Powered by
            <a href="https://www.perimeterx.com">PerimeterX</a>
            , Inc.
          </p>
        </div>
      </div>
    </section>
    <!-- Custom Script -->
    {{# jsRef }}
      <script src="{{jsRef}}"></script>
    {{/ jsRef }}
  </body>
</html>
